@use"../abstracts/mixin" as *;
.navbar{
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0); /* Ajusta el color y la transparencia aquí */
    img{
        width: 50px;
    }
    @include media-up(md){
        padding: 0 10px;
    }
}
